body{
  background-color: #e8dcb2;
  font-family: fantasy;
  font-family: 'montserrat'
}
p {
  color: white;
  font-size: 30px;
  font-weight:lighter;
  text-align: center;
  margin: 0;
}

.woff {
font-size: 25px;
color:#434f63;
}

img {
  width:100%;
}
.common {background-color: #cec090;
}


h1 {
  font-size: 100px;
  margin:0;
  text-align: center;

}
a {
  color: white;
  text-decoration: none;
  width: 49%;
  display: inline-block;
}

.headlinewoff {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

a.headline-link {
  color: black;
  width: 100%;
}

#onelist {
  color: #393e44;
  font-size: 20px;
}
.newslist {
  width: 80%;
  margin: auto;

}
h2 {
  vertical-align: top;
}

h3 {
  width: 40%;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
}


.story {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
